<div class="container">
<nav class="navbar ">
  <form class="container-fluid justify-content-start">
    <button class="btn btn-outline-success me-2" type="button" routerLinkActive="active" [routerLink]="['agenda']" >Curriculum Vitae</button>
    <button class="btn btn-sm btn-outline-secondary" type="button" routerLinkActive="active" [routerLink]="['navigation']">Agenda Electronica</button> 
    <button class="btn btn-sm btn-outline-secondary" type="button" routerLinkActive="active"  [routerLink]="['agendaElectronica']">Formulario de Contacto</button>
  </form>
</nav>
</div>
