*{
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  width: 50%;
  padding: 20px;
}

.container .sub {
  font-size: 20px;
  padding: 10px 10px;
}

.option {
  width: 50%;
  height: 35px;
  font-size: 18px;
}

.date {
  font-size: 20px;
  width: 50%;
  height: 40px;
  margin-bottom: 15px;
}

.btn {
  width: 50%;
  display: flex;
  justify-content:space-evenly;
}


button {
  color: white;
  padding: 15px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.btn1 {
  background-color: rgb(48, 148, 255);
}

.btn1:hover {
  background-color: blue;
}

.btn2 {
  background-color: rgb(39, 212, 39);
}
.btn2:hover {
  background-color: green;
}





/*Validaciones*/
.is-invalid {
  border: 1px solid #ff0000a6;
}
.text-danger {
  display: block;
  margin-left: 5%;
  padding-top: 2px;
  color: #ff0000a6;
}

