<!-- <h1 ><u> Citas </u></h1> -->
<div class="card mb-2">
  <div class="card-header d-flex justify-content-between align-items-center">  
    
      <img style="height: 50px;" mat-card-sm-image src="https://uybor.uz/borless/uybor/img/user-images/no-avatar.png" >
      <h2>{{ task.title | uppercase }} {{task.apellido | uppercase}}</h2>
    
   
      <div>
          <button (click)="task.hide = !task.hide" class="btn btn-primary">
             Descripcion
          </button> <br><br>
          <button (click)="deleteTask(task)" class="btn btn-danger">
              Eliminar
          </button>
      </div>
  </div>
  <div class="card-body" [hidden]="task.hide">
      <p >
          <b> Nombre: </b> {{task.title}}   {{task.apellido}} <br>
          <b>Correo: </b> {{task.email}} <br>
          <b>Celular: </b> {{task.celular}} <br>
          <b>Fecha: </b>  {{task.fecha}} <br>
          <b>Hora: </b> {{task.hora}} <br><br>
           <b style="text-align: center;"> Descripción: </b><br>
          {{task.description}}</p>
  </div>
</div>