<br><br><br>
<h1><p class="titulo"> <legend> Formulario de Contacto</legend></p></h1>
  <div id="contactenos" class="seccion">
    <div class="container">
      <div class="row">
          <form id="formulario-contacto" [formGroup]="formulario" (ngSubmit)="enviar()">

            <div class="form-block" id="grupo-nombre">
              <input title="El nombre solo tiene letras" type="text" id="nombre" class="form-control" placeholder="Nombre" formControlName="nombre" [class.is-invalid]="nombreNoValido">
              <br>
              <small style="color: red;" class="formulario-input-error" *ngIf="nombreNoValido">
                El nombre solo tiene letras
              </small>
            </div>

            <div class="form-block" id="grupo-email">
              <input title="Ingrese un correo valido" type="email" id="email" class="form-control" placeholder="Correo Electronico" formControlName="email" [class.is-invalid]="correoNoValido">
              <br>
              <small style="color: red;" class="formulario-input-error" *ngIf="correoNoValido">
                El correo electronico no tiene el formato correcto
              </small>
            </div>

            <div class="form-block" id="grupo-mensaje">
              <textarea cols="50" rows="5" placeholder="Escribe tus comentarios"
              title="Tu comentario no debe exceder los 255 caracteres" data-pattern="^.{1,255}$" required style="width: auto ;" title="Ingrese solo numeros y letras" name="mensaje" id="mensaje" cols="30" rows="10" class="mensaje" placeholder="Mensaje" formControlName="mensaje" [class.is-invalid]="mensajeNoValido"></textarea>
              <br>
              <small style="color: red;" class="formulario-input-error" *ngIf="mensajeNoValido">
                Solo numeros y letras
              </small>

              

            </div>

            <div style="text-align: center;" class="form-block bloque-ultimo">
              <button style="background-color: rgb(0, 195, 255); padding: 20px; font-size: 20px; text-align: center;" type="submit" id="btnEnviar" class="boton boton-negro" [disabled]="formulario.invalid">Enviar</button>
            </div>
            <br><br><br>
            <div style="
            padding: auto;
            font-size: 30px;
            text-align: center; 
          
            border-radius: 15px;
            color: white;" 
            class="mensajeEnviado">
               {{ mensaje }} 
            </div>
          </form>
      </div>
    </div>
  </div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>