<div class="principal">
  <div class="container">

    <div class="left_side">
  
      <!-- PERFIL -->
      <div class="profile">
        <br>
        <div class="img_setting">
          <img src="../../../assets/foto.webp">
        </div>
        <br>
        <h2><b> Oliver Do Santos Pereira Fiorilo </b></h2><i class="bi bi-calendar2-event-fill"></i>
        <h5><i class='bx bxl-github'></i> Desarrollador WEB</h5>
        <!-- <button class="btn" onclick="PDF();">Download PDF</button> -->
      </div>
  
      <!-- FEcha de nacimiento -->
      <div class="left_items">
        
        <h4 class="title"><i class='bx bxs-calendar'></i><u><b>Fecha de Nacimiento</b></u></h4>
        <ul>
          
          <li>
            <h4 class="text">02 de Septiembre de 2001</h4>
          </li>
        </ul>
      </div>
  
      <!-- numero de cedula de identidad -->
      <div class="left_items">
        <h4 class="title"><i class='bx bx-user-pin' ></i><u><b>Cédula de identidad</b></u></h4>
        <ul>
          <li>
            <h4 class="text">12936360 - CBBA</h4>
          </li>
        </ul>
      </div>
  
      <!-- INFORMACION DE CONTACTO -->
      <div class="left_items">
        <h4 class="title"><i class='bx bxs-contact' ></i><u><b> Información de Contacto</b> </u></h4>
        <ul>
          <li>
            <span class="icons">
              <i class="bx "></i>
              <i class="bx bx-envelope"></i>
            </span>
            <span class="text">poliverdosantos@gmail.com</span>
          </li>
          <li>
            <span class="icons">
              <i class="bx bx-phone"></i>
            </span>
            <span class="text">+591 77910236</span>
          </li>
        </ul>
      </div>
  
      <!-- EDUCACION -->
      <div class="left_items">
        <h4 class="title"><i class='bx bxs-graduation' ></i><u><b> Educación</b> </u></h4>
        <ul>
          <li>
            <h4 class="dates">2008 - 2019</h4>
            <h4 class="text">Bachiller en Humanidades</h4>
            <h4 class="text">Colegio: "IV Centenario"</h4>
          </li>
        </ul>
      </div>
  
      <!-- CERTIFICADOS -->
      <div class="left_items">
        <h4 class="title"><i class='bx bxs-certification' ></i><u> <b>Certificados</b></u></h4>
        <ul>
          <li>
            <h5 class="dates">2022</h5>
            <h4 class="text">Desarrollador de aplicaciones web</h4>
            <h4 class="text">-Solaning (En Curso)</h4>
          </li>
        </ul>
      </div>
      <!-- direccion -->
      <div class="left_items">
        <h4 class="title"><i class='bx bxs-directions' ></i><u> <b>Dirección</b></u></h4>
        <ul>
          <li>
            <h4 class="text">Av. Circunvalación/ Zona Amancayas - Sacaba</h4>
            <h4 class="text">Cochabamba - Bolivia</h4>
          </li>
        </ul>
      </div>
  
      <!-- Estado civil -->
      <div class="left_items">
        <h4 class="title"><i class='bx bx-user-circle' ></i><u><b>Estado Civil</b> </u></h4>
        <ul>
          <li>
            <h4 class="text">Soltero</h4>
          </li>
        </ul>
      </div>
  
      <!-- LENGUAGES -->
      <div class="left_items">
        <h4 class="title"><i class='bx bxs-book-open' ></i><u><b>Idiomas</b></u></h4>
        <ul class="languages">
          <li>
            <span class="text">Ingles</span>
            <div class="percent">
              <div style="width: 40%"></div>
            </div>
          </li>
          <li>
            <span class="text">Español</span>
            <div class="percent">
              <div style="width: 100%"></div>
            </div>
          </li>
        </ul>
      </div>
  
    </div>
  
    <div class="right_side">
  
      <!-- FORMACION ACADEMICA -->
      <div class="right_items">
        <br><br>
        <h1 class="title"><u><i class='bx bx-certification new' ></i><b> Formación Académica:</b></u></h1>
        <ul class="texto">
          <li><u><b>Enseñanza Básica:</b></u> Unidad Educativa Toribio Claure (2008-2013)</li><br>
          <li><u><b>Enseñanza Media:</b></u> Colegio Secundario "IV Centenario" (2014-1019)</li><br>
          <li><u><b>Enseñanza nivel Técnico:</b></u> Técnico en Desarrollo de Aplicaciones WEB (En Desarrollo)</li><br>
          <li><u><b>Enseñanza nivel Universitario:</b></u> “Licenciatura en Ingeniería <b> INFORMÁTICA</b> UMSS” (En
            curso 2do año)</li>
        </ul>
      </div>
      <br>
      <div class="right_items">
        <h1 class="title"><i class='bx bxs-graduation new' ></i><u><b>    Cursos:</b></u></h1>
        <h2> <u><b>-Certificados:</b></u></h2>
        <ul class="texto">
          <li>Curso de <b>"MACROS, VBA EXCEL Y PROGRAMACION ORIENTADA A OBJETOS"</b> (SOLANING CAPACITACIÓN / 2022)</li><br>
          <li>Curso de <b>"ETHICAL HACKING"</b> (Academia de Ciberseguridad HACKER MENTOR / 2022)</li><br>
          <li>Curso de Capacitación <b> “Emprendimientos Sostenibles Sacaba 2022”</b> (Gobierno Autónomo Municipal de
            Sacaba).</li><br>
          <li>Taller de <b> “SOFTWARE Y HADWARE”</b> (Universidad Mayor de San Simón / 2022)</li><br>
          <li>Curso de Capacitación en <b> "Habilidades Blandas para Jóvenes de Sacaba"</b> (Gobierno Autónomo
            Municipal de Sacaba / 2021)</li><br>
          <li>Curso de <b> “Policía Militar” </b>(COMANDO GENERAL DEL EJERCITO “Séptima División del ejercito RPM-3
            GRAL.ARZE” / 2020) </li><br>
          <li>Curso de <b> “Centinela de la salud”</b> (Ministerio de Salud-Ministerio de Defensa / 2020) </li><br>
          <li>Curso de <b>INTERNET “Nivel Intermedio”</b> (COMTECO)</li><br>
          <li>Curso de <b> WORD y EXCEL “Nivel intermedio”</b> (COMTECO)</li><br>
          <li>Taller de <b>Orientación Vocacional y Laboral del Plan Generación de Empleo</b> (Ministerio de
            Planificación del Desarrollo)</li><br>
          <li>Taller de <b> “PREVENCION DE LA VIOLENCIA SEXUAL A LOS NNA”</b> (FUBE)</li>
        </ul>
      </div>
  <br><br>
      <!-- HABILIDADES -->
      <div class="right_items">
        <h2 class="title"><i class='bx bxl-visual-studio new' ></i><u><b> Habilidades Profesionales: </b></u></h2>
        <div class="skills">
          <h4> HTML</h4>
          <div class="percent">
            <div style="width: 75%"></div>
          </div>
        </div>
        <div class="skills">
          <h4>CSS</h4>
          <div class="percent">
            <div style="width: 68%"></div>
          </div>
        </div>
        <div class="skills">
          <h4>JavaScript</h4>
          <div class="percent">
            <div style="width: 60%"></div>
          </div>
        </div>
        <div class="skills">
          <h4>JAVA</h4>
          <div class="percent">
            <div  style="width: 65%"></div>
          </div>
        </div>
        <div class="skills">
          <h4>Python</h4>
          <div class="percent">
            <div style="width: 20%"></div>
          </div>
        </div>
      </div>
  
      <!-- HOBBIES -->
      <!-- <div class="right_items">
                  <h4 class="title">Aficiones</h4>
                  <ul class="hobby">
                      <li><i class="bx bx-dish"></i> Cooking</li>
                      <li><i class="bx bxs-plane-take-off"></i> Flying</li>
                      <li><i class="bx bx-book"></i> Reading</li>
                  </ul>
              </div> -->
    </div>
  </div>
</div>

<!-- HTML2PDF SOURCE -->
