<h1 class="titulo"><u> Agenda Electrónica  </u></h1>
<div class="card">

  <div class="card-body">

    <form ngNativeValidate (submit)="addTask(newTitle, newDescription ,newApellido,newEmail,newCelular,newFecha,newHora)">
      <div class="form-group">
        <input  type="text" placeholder="Nombres" #newTitle class="form-control" title="Nombre sólo acepta letras y espacios en blanco" pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$" required>
      </div><br>
      <div class="form-group">
        <input  type="text" placeholder="Apellidos" #newApellido class="form-control" title="Apellido sólo acepta letras y espacios en blanco" pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$" required>
      </div><br>
      <div class="form-group">
        <input title="Ingresa un Email Válido" type="Email" placeholder="Email" #newEmail class="form-control" pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$" required>
      </div><br>
      <div class="form-group">
        <input title="Ingrese un número de 8 digitos" type="tel" placeholder="celular" #newCelular class="form-control"  pattern="[0-9]{8}" required>
      </div><br>
      <div class="form-group">
        <input type="date" placeholder="fecha" #newFecha class="form-control" required>
      </div><br>
      <div class="form-group">
        <input type="date" placeholder="Hora" #newHora class="form-control" type="time" name="hora" step="3600" required>
      </div><br>


      <div class="form-group">
        <textarea  title="Tu descripcion no debe exceder los 255 caracteres" data-pattern="^.{1,255}$" #newDescription cols="30" rows="10" class="form-control" placeholder="Descripcion" required></textarea>
      </div><br>
      <button title="Enviar" type="submit" class="btn btn-primary btn-block">Enviar</button>
    </form>
  </div>
</div>
<br><br><br><br><br><br><br><br><br>