
<div class="container p-4">
  <div class="row">
    <div class="col-md-5 text-center">
      <app-task-form></app-task-form>
    </div>
    <div class="col-md-7">
      <h1 class="titulo" ><u> Citas </u></h1>
      <app-task-list></app-task-list>
      <br> <br>
    </div>
  </div>
</div>
